logger:
    format: {{LOG_FORMAT}}
global:
    sslcert: '/etc/uspeak/cert.pem'
    sslkey: '/etc/uspeak/key.pem'
    message: {{MESSAGE}}
web:
    api:
        interface: '0.0.0.0'
        port: 4242
